<div class="header"><b><%= @users.count %> Users</b></div>
<div style="overflow: auto;">
  <% @users.each_with_index do |user, index| %>
    <span>
      <ul>
        <table>
          <tr><td><b>#<%= user[3] %></b></td></tr>
          <tr><td><b>Name</b></td><td><%= user[0]["data"]["name"] %></td></tr>
          <tr><td><b>Email</b></td><td><%= user[0]["data"]["email"] %></td></tr>
          <tr><td><b>#total</b></td><td><%= user[0]["data"]["total_count"] %></td></tr>
          <tr><td><b>Birthday</b></td><td><%= user[0]["data"]["selectedDay"] %>-<%= user[0]["data"]["selectedMonth"] %>-<%= user[0]["data"]["selectedYear"] %></td></tr>
          <tr><td><b>Profile</b></td><td><%= user[0]["data"]["profile"] %></td></tr>
          <tr><td><b>Position</b></td><td><%= user[0]["data"]["latitude"] %>-<%= user[0]["data"]["longitude"] %></td></tr>
          <tr><td><b>#init_books_read</b></td><td><%= user[0]["data"]["init_book_read_count"] %></td></tr>
          <tr><td><b>#books_read</b></td><td><%= user[0]["data"]["book_read_count"] %></td></tr>
          <tr><td><b>Genre</b></td><td><%= user[0]["data"]["gender"] %></td></tr>
          <tr><td><b>Verified</b></td><td><%= user[0]["data"]["verified"] %></td></tr>
          <tr><td><b>#rating</b></td><td><%= user[0]["data"]["rating_count"] %></td></tr>
          <tr><td><b>#bookmark</b></td><td><%= user[0]["data"]["bookmark_count"] %></td></tr>
          <form action="<%= users_path %>">
            <input type="hidden"  value="<%= user[3] %>" name="id" />
            <tr><td><b>Active</b></td><td><input type="checkbox" name="active" <% if user[0]["data"]["active"] %>checked<% end %>/></td></tr>
            <tr><td><button type="submit">Sumbit</button></td></tr>
          </form>
        </table>
      </ul>
    </span>
  <% end %>
  
</div>

<div class="vertical_padder"></div>

<div class="main_footer">
  <a class="clear_data">Clear Dummy User Data</a>
  <button class="add_user">Add test user</button>
  <div class="footer_status"></div>
</div>


<script>
  $(document).ready(function(){
    var clear_data = function(){
      $('.footer_status').html("Processing request...");
      $.ajax({
        url: "<%= clear_data_path %>",
        success: function(){
          $('.footer_status').html('Data cleaned..');
        },
        error: function(){
          $('.footer_status').html('Error in cleaning data');
        }
      })
    }

    $('.clear_data').on('click', function(){
      clear_data();
    });

    function add_user(){
      $('.add_user').on('click', function(){
        $('.modal').removeClass('hidden_input');
      });
    }

    function submit_user(){
      $('.submit').on('click', function(){
        var data = $('#newUser').serialise();
         
      });
    }
  });
</script>