<table>
  <thead>
    <tr>
      <th>S.No</th>
      <th>Name</th>
      <th>Email</th>
      <th>Total Count</th>
      <th>Date of Birth</th>
      <th>Profile</th>
      <th>Location</th>
      <th>Init Book Read Count</th>
      <th>Book Read Count</th>
      <th>Gender</th>
      <th>Verified</th>
      <th>Rating Count</th>
      <th>Bookmark Count</th>
      <th>Active</th>
      <th>Update</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each_with_index do |user, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= user[0]["data"]["name"] %></td>
        <td><%= user[0]["data"]["email"] %></td>
        <td><%= user[0]["data"]["total_count"] %></td>
        <td><%= user[0]["data"]["selectedDay"] %>-<%= user[0]["data"]["selectedMonth"] %>-<%= user[0]["data"]["selectedYear"] %></td>
        <td><%= user[0]["data"]["profile"] %></td>
        <td><%= user[0]["data"]["latitude"] %>-<%= user[0]["data"]["longitude"] %></td>
        <td><%= user[0]["data"]["init_book_read_count"] %></td>
        <td><%= user[0]["data"]["book_read_count"] %></td>
        <td><%= user[0]["data"]["gender"] %></td>
        <td><%= user[0]["data"]["verified"] %></td>
        <td><%= user[0]["data"]["rating_count"] %></td>
        <td><%= user[0]["data"]["bookmark_count"] %></td>
        <form action="<%= users_path %>">
          <input type="hidden"  value="<%= user[1] %>" name="id" />
          <td><input type="checkbox" name="active" <% if user[0]["data"]["active"] %>checked<% end %>/></td>
          <td><button type="submit">Sumbit</button></td>
        </form>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="main_footer">
  <a class="clear_data">Clear Dummy User Data</a>
  <div class="footer_status"></div>
</div>
<script>
  $(document).ready(function(){
    var clear_data = function(){
      $('.footer_status').html("Processing request...");
      $.ajax({
        url: "<%= clear_data_path %>",
        success: function(){
          $('.footer_status').html('Data cleaned..');
        },
        error: function(){
          $('.footer_status').html('Error in cleaning data');
        }
      })
    }

    $('.clear_data').on('click', function(){
      clear_data();
    });
  });
</script>