<table>
	<input id="datepicker" type="text"	/>
	<%= @trends.count %> Trends
	<tr>
		<!-- <th>Trending</th>-->
		<th>Title</th>
		<th></th>
		
		<th>Community</th>
		<th>Books</th>
		<th>Remove Books</th>
		<th>Search Books</th>
		<th> Search result</th>			
	</tr>
	<% if @trends %>		
		<% @trends.sort_by!{|s| Time.at(s[1].to_i)}.reverse.each do |trend|%>
			<tr class="<% if trend['status'] %>active<% end %>" 
				id="id_<%= trend["id_news"] %>">
				<td title= "<%=trend["t.description"]%>">
					<%= trend["t.title"]%> <br> 
					<%= Time.at(trend["t.timestamp"].to_i).strftime("%d/%m/%y") %>,  <%= trend["id_news"] %>
				</td>
				<td><img src="<%=trend["t.image_url"] %>" alt="" border=3 height=50 width=100> </td>

				<td>
					<select class="community_present" size=3 MULTIPLE>
						<%trend["communities"].each do |c|%>
							<OPTION><%=c%></OPTION>
						<%end%>						
					</select>
				</td>

				<td>
					<select name="books_in_c" class="books_select" size=3 MULTIPLE>
						<OPTION> No community is selected</OPTION>
					</select>
				</td>
				<form class ="removeBookForm" action="<%= trends_path %>" >
					<td>

						<input type="submit" value="Remove Book" class = "remove_button" disabled="disabled">
					</td>
				</form>
					<td>
						<input class="search_box" />
					</td>

				<form action="<%= trends_path %>">

					<input type="hidden" value="<%= trend["id_news"] %>" name="trending_id"/>
					<input type="hidden" value="<%= trend["t.searched_words"] %>" name="book_ids" />					
					<td><input type="submit" value="Submit"></td>
				</form>
				<td class="remove_trend">
					<button>Toggle</button>
					<input type="hidden" value="<%= trend["id_news"] %>" class="trending_id"/>
				</td>
			</tr>
		<% end %>
	<% end %>
</table>
<div class="main_footer">
	<span type="status" class="footer_status"></span>
</div>
<div class="vertical_padder"></div>
<script>
	$(document).ready(function(){
		$("#datepicker").datepicker({
			onSelect: function(dateText, inst){
		        window.location.href = "/panel/trends?t="+dateText;
		    }
		});
		$("#datepicker").datepicker("setDate", "<%= @timestamp %>" );

		var search_on = false;
		var search = function($this, search_for){
			$.ajax({
				url: "<%= search_book_path %>",
				data: "q="+search_for,
				success: function(data, textStatus, jqXHR){
					var books = [];
					for(var i=0; i < data.length; i++){
						var book = {"label": data[i][2]+" by "+data[i][3], "value": data[i][1]};
						books.push(book);
					}
					if(books.length == 0){
						books = "No results found...";
					}


					$this.autocomplete({
				      source: books,
				      select: function(event, ui){
				      	var html = "<div class='book_name'><span> · </span><span>"+ui.item.label+" <span></div>"
				      	$this.parent().siblings('.books').append(html);
				      	var current_val = $this.parent().siblings('input[name=book_ids]').val();
				      	
				      	if(current_val == ""){
				      		var new_val = ui.item.value;
				      	}
				      	else{
				      		var new_val = current_val + ", "+ui.item.value;
				      	}
				      	$this.parent().siblings('input[name=book_ids]').val(new_val);
				      	$this.val("");
				      	
				      	event.preventDefault();
				      }
				    });
				}
			});
		}

		$('.search_box').on('keypress', function(event){
			search_on = false;
			var $this = $(this);
			var search_for = $this.val()+String.fromCharCode(event.charCode);
			if(search_for.length > 2){
				setTimeout(function(){
					search_on = true;
					search_for = $this.val();
					if(search_on){
						search($this, search_for);
					}
				}, 1000);
				
			}
		});
		
		$('.removeBookForm').submit( function(){
			var comName=$(this).closest('tr').find(".community_present").val();
			var bookName=$(this).closest('tr').find(".books_select").val();
			//var bookId=0;
			if(confirm("Do you want to remove book "+  bookName +" from "+comName)==true){
				
				$.ajax({
					url: "<%= delete_book_relationship_path %>",
					data: {book_name: bookName.toString(), community_name:comName.toString()},
					success: function(data, textStatus, jqxhr){
						$('.footer_status').html('Done..');
					},
					error: function(jqxhr, textStatus, errorThrown){
						$('.footer_status').html('Error in removing book..');
					}
				});
					
				return true;
			}
			return false;
			

		});

		$('.community_present').change(function(event){
			<!-- fill the entries in books with return data -->			
			var trid = $(this).closest('tr');			
			
			//trid.content()[1].innerHTML="hello";			
			var book_col=trid.find(".books_select")
			//$('.footer_status').html('Updating books of '+ $(this).val());

			var test=$(this).val().toString();
			$('.footer_status').html("Updating books.."+ test);
    		var data= "q=" +$(this).val().toString();
    		$.ajax({
					url: "<%= trending_community_books_path %>",
					data: data,
					success: function(data, textStatus, jqXHR){

						var books = [];
						var books_id= [];
						for(var i=0; i < data.length; i++){
							var book = data[i]["book.title"];
							var id_b=data[i]["id_book"];
							books_id.push(id_b);
							books.push(book);
						}
						var empty_ret=false;

						if(books.length == 0){
							books = ["No results found..."];
							empty_ret=true;

						}
						
						var newSelect=document.createElement('select');
						newSelect.className="books_select";
						newSelect.size=3;
						newSelect.width=30;

			    		var selectHTML="";

			    		for(i=0; i<books.length; i=i+1){
			        		selectHTML+= "<option value= "+books[i]+"label= "+books_id[i]+">"+books[i]+"</option>";

			    		}

			    		newSelect.innerHTML= selectHTML;
			    		book_col.replaceWith(newSelect);

			    		if(empty_ret==true){
			    			//$('.footer_status').html('Not found.');
			    			//newSelect.attr('disabled','disabled');
			    		}

			    		$('.footer_status').html('');
					
					},
					error: function(jqxhr, textStatus, errorThrown){

						$('.footer_status').html('Error in searching..');
					},
					timeout: 10000
				});

    		


		});
		
		$(document).on('click','.books_select',function () {
			
			var trid = $(this).closest('tr');			
			var t1=trid.find(".remove_button");
			t1.removeAttr('disabled');
			
		});


		

		$('.book_name').on('click', function(){
			var $this = $(this);
			var id = $this.attr('data-id');
			var book_ids = $this.parent().siblings('input[name=book_ids]').val().split(",");
			var new_book_ids = []
			for(var i=0; i < book_ids.length; i++){
				if(book_ids[i].indexOf(id) < 0){
					new_book_ids.push(book_ids[i])
				}
			}
			$this.parent().siblings('input[name=book_ids]').val(new_book_ids.join(","));
			$this.remove();
		});

		var link_new_books = function(){
			$('.keywords').on('click', function(){
				var $this = $(this);
				$this.children('span').hide();
				$this.children('textarea').show();
				$this.children('button').show();
			});
		}

		var add_new_books = function(){
			$('.add_books').on('click', function(){
				var data = "q="+$(this).siblings('textarea').val()+"&id="+$(this).siblings('.trending_id').val();
				$('.footer_status').html('Updating...');
				$.ajax({
					url: "<%= trending_new_books_path %>",
					data: data,
					success: function(data, textStatus, jqxhr){
						$('.footer_status').html('Done..');
					},
					error: function(jqxhr, textStatus, errorThrown){
						$('.footer_status').html('Error in updating..');
					}
				});
			});
		}

		var bind_remove_trend = function(){
			$('.remove_trend').on('click', function(){
				$('.footer_status').html('Removing..');
				var data = "id="+$(this).children('input').val();
				$.ajax({
					url: "<%= remove_trend_path %>",
					data: data,
					success: function(data, textStatus, jqxhr){
						$('.footer_status').html('Done..');
						window.location.reload();
					},
					error: function(jqxhr, textStatus, errorThrown){
						$('.footer_status').html('Error in toggling news..');
					}
				});
			});
		}

		link_new_books();
		add_new_books();
		bind_remove_trend();

	});
</script>