<!-- t.name, t.timestamp, ID(t), COLLECT(b.title), t.status, COLLECT(ID(b)), t.title, t.content, t.searched_words, t.url, t.thumbnail_url, t.redirect_url, t.publisher, t.thumb
	t.communities
-->
<table>
	<tr>
		<th>Name</th>
		<!-- <th>Trending</th>-->
		<th>Title</th>
		<th>Content</th>
		<th>Searched Words</th>
		<th>Publisher</th>
		<th>Thumb</th>
		<th>Timestamp</th>
		<th>Status</th>
		<th>Community</th>
		<th>Books</th>
		<th>Search Books</th>			
		
	</tr>
	<% if @trends %>		
		<% @trends.sort_by!{|s| Time.at(s[1].to_i)}.reverse.each do |trend|%>
			<tr class="<% if trend["t.content"].present? && trend["t.content"] == 1 %>active<% end %>" id="id_"+ trend["ID(t)"]>
				<td><%= trend["t.name"]%></td>
				<td><%= trend["t.title"]%></td>
				<td><%= trend["t.content"]%></td>
				<td><%=trend["t.searched_words"]%></td>
				<!-- <td><a href="<%= trend[9] %>" target="_blank"><%= trend[0] %></a></td>-->
				<td><a href="<%= trend[11] %>" target="_blank"><%= trend["t.publisher"] %></a></td>
				<td><div class="limit_height"><%= trend["t.thumbnail_url"] %></div></td>
				<!--
				<td class="keywords">
					<span><%= trend["t.timestamp"] %></span>
					<textarea class="hidden_input" ><%= trend["t.timestamp"] %></textarea>
					<button class="hidden_input add_books">Go</button>
					<input type="hidden" value="<%= trend[2] %>" class="trending_id"/>
				</td>
				!-->
				<td><%= Time.at(trend["t.timestamp"].to_i).strftime("%d-%m-%y") %></td>
				<td><%= trend["t.status"] %></td>
				
				<td>
					<select class="community_present" size=3 MULTIPLE>
						<OPTION> Sample option1</OPTION>
						<OPTION> Sample option2</OPTION>
						<OPTION> Sample option3</OPTION>
						<OPTION> Sample option4</OPTION>						
						<% if(trend["t.communities"]) %>
							<% trend["t.communities"].each do |community| %>
								<option class="community_select"><%community%> </option>
							<% end %>
						<% end %>

					</select>
				</td>

				<td class="books_select">
					<select name="books_in_c" size=3 MULTIPLE>
						<OPTION> No community is selected</OPTION>
					</select>
				</td>
				<td>
					<input class="search_box" />
				</td>

				<form action="<%= trends_path %>">
					<td class="books" name="books">
						<div class="limit_height">
							<% if trend["t.title"] %>
								<% trend["t.title"].each.with_index do |book, index| %>
									<div data-id="<%= trend["t.searched_words"][index] %>" class="book_name"><span> · </span><span><%= book %></span></div>
								<% end %>
							<% end %>
						</div>
					</td>
					<input type="hidden" value="<%= trend[2] %>" name="trending_id"/>
					<input type="hidden" value="<%= trend["t.searched_words"] %>" name="book_ids" />
					<% if trend["t.content"].present? && trend["t.content"] == 1 %>
						<td><input type="checkbox" name="status" checked></td>
					<% else %>
						<td><input type="checkbox" name="status"></td>
					<% end %>
					<td><input type="submit" value="Submit"></td>
				</form>
				<td class="remove_trend">x
				<input type="hidden" value="<%= trend[2] %>" class="trending_id"/></td>
			</tr>
		<% end %>
	<% end %>
</table>
<div class="main_footer">
	<span type="status" class="footer_status"></span>
</div>
<div class="vertical_padder"></div>
<script>
	$(document).ready(function(){
		var search_on = false;
		var search = function($this, search_for){
			$.ajax({
				url: "<%= search_book_path %>",
				data: "q="+search_for,
				success: function(data, textStatus, jqXHR){
					var books = [];
					for(var i=0; i < data.length; i++){
						var book = {"label": data[i][2]+" by "+data[i][3], "value": data[i][1]};
						books.push(book);
					}
					if(books.length == 0){
						books = "No results found...";
					}


					$this.autocomplete({
				      source: books,
				      select: function(event, ui){
				      	var html = "<div class='book_name'><span> · </span><span>"+ui.item.label+" <span></div>"
				      	$this.parent().siblings('.books').append(html);
				      	var current_val = $this.parent().siblings('input[name=book_ids]').val();
				      	
				      	if(current_val == ""){
				      		var new_val = ui.item.value;
				      	}
				      	else{
				      		var new_val = current_val + ", "+ui.item.value;
				      	}
				      	$this.parent().siblings('input[name=book_ids]').val(new_val);
				      	$this.val("");
				      	
				      	event.preventDefault();
				      }
				    });
				}
			});
		}

		$('.search_box').on('keypress', function(event){
			search_on = false;
			var $this = $(this);
			var search_for = $this.val()+String.fromCharCode(event.charCode);
			if(search_for.length > 2){
				setTimeout(function(){
					search_on = true;
					search_for = $this.val();
					if(search_on){
						search($this, search_for);
					}
				}, 1000);
				
			}
		});
		
		$('.community_present').change(function(event){
			<!-- fill the entries in books with return data -->			
			var trid = $(this).closest('tr');			
			
			//trid.content()[1].innerHTML="hello";			
			var book_col=trid.find(".books_select")
			//$('.footer_status').html('Updating books of '+ $(this).val());
/*
			var books=["books", "efg"];
			var newSelect=document.createElement('select');
			newSelect.size=3;
			newSelect.width=30;
    		var selectHTML="";
    		for(i=0; i<books.length; i=i+1){
        		selectHTML+= "<option value= "+books[i]+">"+books[i]+"</option>";
    		}

    		newSelect.innerHTML= selectHTML;
    		book_col.replaceWith(newSelect);
*/
			var test=$(this).val().toString();
			$('.footer_status').html("Updating books.."+ test);
    		var data= "q=" +$(this).val();
    		$.ajax({
					url: "<%= trending_community_books_path %>",
					data: data,
					success: function(data, textStatus, jqXHR){

						var books = [];
						for(var i=0; i < data.length; i++){
							var book = {"label": data[i][2]+" by "+data[i][3], "value": data[i][1]};
							books.push(book);
						}
						var empty_ret=false;

						if(books.length == 0){
							books = ["No results found..."];
							empty_ret=true;

						}
						
						var newSelect=document.createElement('select');
						newSelect.size=3;
						newSelect.width=30;
			    		var selectHTML="";

			    		for(i=0; i<books.length; i=i+1){
			        		selectHTML+= "<option class= \" book_element\" value= "+books[i]+">"+books[i]+"</option>";
			    		}

			    		newSelect.innerHTML= selectHTML;
			    		book_col.replaceWith(newSelect);

			    		if(empty_ret==true){
			    			//$('.footer_status').html('Not found.');
			    			//newSelect.attr('disabled','disabled');
			    		}

			    		$('.footer_status').html('');
					
					},
					error: function(jqxhr, textStatus, errorThrown){

						$('.footer_status').html('Error in searching..');
					},
					timeout: 10000
				});

    		


		});

		$('.book_name').on('click', function(){
			var $this = $(this);
			var id = $this.attr('data-id');
			var book_ids = $this.parent().siblings('input[name=book_ids]').val().split(",");
			var new_book_ids = []
			for(var i=0; i < book_ids.length; i++){
				if(book_ids[i].indexOf(id) < 0){
					new_book_ids.push(book_ids[i])
				}
			}
			$this.parent().siblings('input[name=book_ids]').val(new_book_ids.join(","));
			$this.remove();
		});

		var link_new_books = function(){
			$('.keywords').on('click', function(){
				var $this = $(this);
				$this.children('span').hide();
				$this.children('textarea').show();
				$this.children('button').show();
			});
		}

		var add_new_books = function(){
			$('.add_books').on('click', function(){
				var data = "q="+$(this).siblings('textarea').val()+"&id="+$(this).siblings('.trending_id').val();
				$('.footer_status').html('Updating...');
				$.ajax({
					url: "<%= trending_new_books_path %>",
					data: data,
					success: function(data, textStatus, jqxhr){
						$('.footer_status').html('Done..');
					},
					error: function(jqxhr, textStatus, errorThrown){
						$('.footer_status').html('Error in updating..');
					}
				});
			});
		}

		var bind_remove_trend = function(){
			$('.remove_trend').on('click', function(){
				$('.footer_status').html('Removing..');
				var data = "id="+$(this).children('input').val();
				$.ajax({
					url: "<%= remove_trend_path %>",
					data: data,
					success: function(data, textStatus, jqxhr){
						$('.footer_status').html('Done..');
					},
					error: function(jqxhr, textStatus, errorThrown){
						$('.footer_status').html('Error in removing..');
					}
				});
			});
		}

		link_new_books();
		add_new_books();
		bind_remove_trend();


	});
</script>