<div class="grid_container recent span">
	<div class="grid_header">
		<p class="span">Recently Read</p>
		<div class="close span">-</div>
	</div>
	<div class="grid_content" >
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010024.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010048.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010007.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010010.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010013.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010015.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010018.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010045.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010024.jpg", :class=>"user_books span"%></a>
	</div>
</div>
<div class="grid_container recommended span">
	<div class="grid_header">
		<p class="span">Recommended</p>
		<div class="close span">-</div>
	</div>
	<div class="grid_content" style="overflow-y: auto;">
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010024.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010048.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010007.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010010.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010013.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010015.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010018.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010045.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010024.jpg", :class=>"user_books span"%></a>
	</div>
</div>
<div class="grid_container philosophy span">
	<div class="grid_header">
		<p class="span">Philosophy</p>
		<div class="close span">-</div>
	</div>
	<div class="grid_content" >
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010024.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010048.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010007.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010010.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010013.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010015.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010018.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010045.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010024.jpg", :class=>"user_books span"%></a>
	</div>
</div>
<div class="grid_container to_read span">
	<div class="grid_header">
		<p class="span">To Read</p>
		<div class="close span">-</div>
	</div>
	<div class="grid_content" >
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010024.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010048.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010007.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010010.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010013.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010015.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010018.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010045.jpg", :class=>"user_books span"%></a>
		<a class="scroll" data-speed="2000" data-easing="easeInOutCubic" href="#irc_pc"><%= image_tag "0005010024.jpg", :class=>"user_books span"%></a>
	</div>
</div>
<script type="text/javascript">
	$('.grid_header .close').on('click', function(){
		$(this).parent().parent().removeClass('show_grid')
	})
</script>
<style>
	.grid_header .close{
		float: right;
		margin-top: 1%;
		margin-right: 1%;
	}
	.grid_header .close:hover{
		cursor: pointer;
	}
</style>