<div class="profile_header">
	<div class="popular_tag span">
		<div class="grid_content">
			<div class="profile_pic span">
				<%= image_tag "test_profile_pic.jpeg"%>
			</div>
			<div>
				<div class="grid1">
					<a class="scroll" data-speed="2000" data-easing="" href="#irc_pc"><%= image_tag "0005010001.jpg", :class=>"user_books"%></a>
					<a class="scroll" data-speed="2000" data-easing="" href="#irc_pc"><%= image_tag "0005010048.jpg", :class=>"user_books"%></a>
					<a class="scroll" data-speed="2000" data-easing="" href="#irc_pc"><%= image_tag "0005010007.jpg", :class=>"user_books"%></a>
					<a class="scroll" data-speed="2000" data-easing="" href="#irc_pc"><%= image_tag "0005010010.jpg", :class=>"user_books"%></a>
					<a class="scroll" data-speed="2000" data-easing="" href="#irc_pc"><%= image_tag "0005010013.jpg", :class=>"user_books"%></a>
					<a class="scroll" data-speed="2000" data-easing="" href="#irc_pc"><%= image_tag "0005010015.jpg", :class=>"user_books"%></a>
				</div>
				<div class="grid2">
					<a class="scroll" data-speed="2000" data-easing="" href="#irc_pc"><%= image_tag "0005010018.jpg", :class=>"user_books"%></a>
					<a class="scroll" data-speed="2000" data-easing="" href="#irc_pc"><%= image_tag "0005010045.jpg", :class=>"user_books"%></a>
					<a class="scroll" data-speed="2000" data-easing="" href="#irc_pc"><%= image_tag "0005010024.jpg", :class=>"user_books"%></a>
					<a class="scroll" data-speed="2000" data-easing="" href="#irc_pc"><%= image_tag "0005010048.jpg", :class=>"user_books"%></a>
					<a class="scroll" data-speed="2000" data-easing="" href="#irc_pc"><%= image_tag "0005010007.jpg", :class=>"user_books"%></a>
				</div>
			</div>

		</div>
	</div>
</div>